.dp-custom-cell {
  border-radius: 50%;
}

.dp-custom-input {
  width: 10rem;
  font-size: 16px;
  color: #51aafd;
  border: none;
  border-radius: 5px;
  background: #ebf5ff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);

  &:hover {
    border-color: #51aafd;
  }
}

.dp-custom-menu {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.inbox-icon {
  width: 17px;
  margin-top: 0.2rem;
  margin-left: 0.6rem;
}

.clear-icon {
  width: 12px;
  margin-right: 0.8rem;
}
