.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;

  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background: #ffffff;
    border: 0.5px solid #d0d4d9;

    &:hover {
      border: 0.5px solid #51aafdbb;
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
      background: #51aafd;
      border-radius: 3px;
    }
  }
}
